kind: Secret
apiVersion: v1
metadata:
  name: extractor-clusters-list
  namespace: ocp-quota-extractor
data:
  extractor-clusters-password: b64 (password)
  extractor-clusters-urls: b64 (https://cluster-url1, https://cluster-url2)
  extractor-clusters-username: b64 (username)
  extractor-clusters-client-id: b64 (username)
type: Opaque
----------------
kind: Secret
apiVersion: v1
metadata:
  name: extractor-database-credentials
  namespace: ocp-quota-extractor
data:
  extractor-database-password: b64 (password)
  extractor-database-jdbc-url: b64 (jdbc:databasetype://databaseurl/)
  extractor-database-username: b64 (username)
type: Opaque